

<% @recipe_lists.each do |recipe_list| %>
  <h1><%= recipe_list.name %></h1>
  <% @recipes = recipe_list.recipes%>
  <% @recipes.each do |recipe| %>
    <p> <%= recipe.title %> </p>
    
  <% end %>
<% end %>
